.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel-card {
    flex: none;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
    margin-right: 30px;
    width: auto;
    max-width: 90%; /* Limit the maximum width */
  }
  
  .carousel-card:last-child {
    margin-right: 0;
  }
  
  .carousel-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .carousel-card img {
    width: 100%;
    max-width: 120px; /* Set max-width to scale down image */
    height: auto;
    display: block;
    margin-bottom: 4px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .carousel-card h3 {
    margin: 0 0 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .carousel-card .year {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: medium;
    color: #555;
  }
  
  .carousel-card .presentDay {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: medium;
    color: #555;
  }
  
  .carousel-card p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #666;
  }
  
  .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .carousel-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 5px;
  }
  
  .carousel-indicator.current {
    background-color: #3d9cff;
  }
  
  /* Media query for desktop and larger screens */
  @media (min-width: 1024px) {
    .carousel {
      max-width: 800px;
    }
  
    .carousel-card {
      width: auto;
      max-width: 90%; /* Limit the maximum width */
    }
  }
  
  