@font-face {
  font-family: 'Custom_Bold';
  src: url('/fonts/Yantramanav-Bold.ttf') format('truetype');
}

/* Reset some default browser styles */
body, ul {
  margin: 0;
  padding: 0;
}

/* Set font-family and font-size */
body {
  font-family: 'Custom_Bold', Arial, sans-serif;
  font-size: 16px;
  background-color: #000000; /* Set the background color to black */
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 20px;
  position: relative;
}

/* Style the header image */
#header-image {
  max-width: 100%;
  height: auto;
}

/* Add this new style to styles.css */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}
