@font-face {
  font-family: 'Custom_Bold';
  src: url('/fonts/Yantramanav-Bold.ttf') format('truetype');
}

/* Set font-family, font-size, and background color */
body {
  font-family: 'Custom_Bold', Arial, sans-serif;
  font-size: 16px;
  background-color: #1c1c1c;
}

/* Style the header */
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1c1c1c;
  padding: 20px;
  position: relative;
}

/* Style the header image */
#header-image {
  width: 100%;
  height: auto;
}

/* Page content styles */
main section {
  padding: 20px;
  color: #ffffff;
}

main section h1 {
  margin-bottom: 10px;
}
