@font-face {
  font-family: 'Custom_Bold';
  src: url('/fonts/Yantramanav-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Custom_Regular';
  src: url('/fonts/Yantramanav-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Custom_Medium';
  src: url('/fonts/Yantramanav-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Custom_Light';
  src: url('/fonts/Yantramanav-Light.ttf') format('truetype');
}

body {
  font-family: 'Custom_Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #1c1c1c;
  color: #ffffff;
  border-bottom: 5px solid #3d9cff;
}

header h1 {
  font-family: 'Custom_Bold';
  font-size: 2rem;
}

header h2 {
  font-family: 'Custom_Medium';
  margin-top: 10px;
}

main {
  padding: 20px;
  text-align: center;
}

.rounded-image {
  border-radius: 10px;
  max-width: 180px;
  display: block;
  margin: 20px auto;
}

.message {
  margin: 0px 0;
  font-family: 'Custom_Light';
}

.teachers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 8px;
  justify-items: center;
}

.teacher-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  width: 160px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.teacher-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.teacher-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #3d9cff;
}

.teacher-name {
  font-family: 'Custom_Bold';
  margin: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teacher-experience, .teacher-designation {
  margin: 4px 0;
  font-family: 'Custom_Light';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Media queries */
@media (min-width: 350px) {
  .teachers {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }
}

@media (min-width: 800px) {
  .teachers {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
  }

  .teacher-card {
    padding: 16px;
    width: 240px;
  }

  .teacher-image {
    width: 120px;
    height: 120px;
  }

  .teacher-name {
    font-size: 1.2em;
    margin: 12px 0;
  }

  .teacher-experience, .teacher-designation {
    font-size: 1em;
    margin: 6px 0;
  }
}
