@font-face {
  font-family: 'Custom_Bold';
  src: url('/fonts/Yantramanav-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Custom_Regular';
  src: url('/fonts/Yantramanav-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Custom_Medium';
  src: url('/fonts/Yantramanav-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Custom_Light';
  src: url('/fonts/Yantramanav-Light.ttf') format('truetype');
}

/* General styles */
body {
  font-family: 'Custom_Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #1c1c1c;
  color: #ffffff;
}

header h1 {
  font-family: 'Custom_Bold';
  font-size: 2rem;
}

header h2 {
  font-family: 'Custom_Medium';
  margin-top: 10px;
}

main {
  padding: 20px;
  text-align: center;
}

/* Rounded image */
.rounded-image {
  border-radius: 10px;
  max-width: 200px;
  display: block;
  margin: 20px auto;
}

/* Message */
.message {
  margin: 20px 0;
  font-family: 'Custom_Light';
}

/* Teacher cards */
.teachers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
  overflow-y: auto;
  max-height: 80vh;
}

.teacher-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.teacher-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.teacher-name {
  font-family: 'Custom_Bold';
  margin: 10px 0;
}

.teacher-experience, .teacher-designation {
  margin: 5px 0;
  font-family: 'Custom_Light';
}
